
/*隐藏进度条*/
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
.bookshelf{
    /*无法被选中*/
    user-select: none;
    position: absolute;
    top: 20%;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    z-index: -1;

}
.bookshelf .book{
    border: 0.5px solid rgba(0, 0, 0, 0);
    background: url("../imgs/书架.png");
    background-size: 100% 100%;
    opacity: 0.8;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(118, 71, 25, 1);
    

}
/* #book0,#book1,#book2,#book3{
    border-top: 4px solid black;
}
#book0,#book4{
    border-left: 4px solid black;
} */
.inside{
    position: absolute;
}

.img{
 position: relative;
 top:22px;
   width: 170px; 
   height: 200px;
   cursor: pointer;
   -webkit-box-reflect: below 0.2px -webkit-linear-gradient(transparent 80%, rgba(21, 18, 18, 0.8));
}
.img:hover{
    width: 180px; 
    height: 210px;
    box-shadow: 0 0 10px 10px rgba(199, 183, 94, 0.949);

}