/*隐藏进度条*/
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

/*介绍div*/
.introduce_content_img_div {

    /*position: absolute;*/
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    /*border: 1px red solid;*/
}

/*文字介绍外层div*/
.introduce_text_div {
    text-shadow: 1px 1px 2px black;
    width: 50%;
    /*height: auto;*/
    /*width: 90%;*/
    cursor: default;
    color: #fae3ca;

    background: rgba(250, 235, 215, 0.15);
    /*background: rgba(239, 154, 154, 0.15);*/
    border-radius: 20px;
    /*height: 700px;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s, 1s;

}

.introduce_text_div:hover {
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.44);
    width: 100%;
    margin-right: 0;
    height: auto;
}

/*大标题*/
.big_title {
    color: #ffe0be;
    /*text-align: center;*/
    transition-duration: 0.25s, 1s;
}

/*第一段文字*/
.content_content_div_1 {
    margin-top: 10px;
}

/*第二段文字*/
.content_content_div_2 {
    display: none;
    transition: all 0.4s;
}

.introduce_text_div:hover .content_content_div_2 {
    display: block;
}

/*图片div*/
.introduce_image_div {
    display: block;
    width: 400px;
    /*box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.44);*/
    /*height: 300px;*/
    /*background: #1b6d85;*/
    transition-duration: 0.25s, 1s;
}

.introduce_image_div > img {
    display: block;
    box-shadow: 1px 1px 10px 10px rgba(35, 35, 35, 0.44);

    width: 100%;
    /*height: 80%;*/
}

.introduce_text_div:hover + .introduce_image_div {
    display: none;
}

/*响应*/
@media screen and (max-width: 1200px) {
    /*图片消失*/
    .introduce_image_div {
        display: none;
    }

    /*文字占满*/
    .introduce_text_div {
        width: 100%;
    }
}


/*文化遗产条例*/
.list_big_content {

    align-items: center;
    /*padding-top: 20px;*/
    margin-top: 170px;
    margin-left: 5%;
    margin-right: 5%;
    /*border: 1px red solid;*/
}

.list_big_content a {
    text-decoration: none;
    z-index: -9999 !important;
}

/*每一个list*/
.list_content {
    margin-left: 5%;
    margin-right: 5%;
    padding: 50px;
    box-shadow: 1px 1px 10px 10px rgba(23, 23, 23, 0.44);
    background: rgba(250, 235, 215, 0.13);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 30px;
    position: relative;
    /*width: 100%;*/
    /*height: 200px;*/
    /*background-color: black;*/

    border: 2px rgba(105, 105, 105, 0.41) solid;
    border-bottom: 2px solid rgba(152, 125, 96, 0.3);
}

.list_content > h2 {
    color: #d2c3b3;
}


.list_content > p {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 999;
}

.list_content > p::before, div p::after {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
    transition: opacity 0.4s, transform 0.4s;
}

.list_content > p::before {
    /*border-top:2px solid #000000;*/
    border-bottom: 2px solid #f19d5d;

    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.list_content:hover > p::before, div:hover p::after {
    opacity: 3;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*条例内容*/
.list_content_text {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e7d7c6;
    padding-top: 20px;
    margin-left: 20px;

}

.list_content_text > img {
    transition: all 0.2s;
    box-shadow: 1px 1px 10px 10px rgba(236, 184, 140, 0.2);
    width: 200px;
}

/*图片放大*/
.list_content:hover .list_content_text > img {
    transform: scale(1.06, 1.06);
    transition: all 0.2s;
}


/*回到顶部*/
.totop_div {
    /*user-select: none;*/
    /*margin: 0;*/
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border: 1px solid #fae3ca;

    background: rgba(250, 227, 202, 0.25);

    border-radius: 50%;
    font-size: 10px;
    color: #fae3ca;
    position: fixed;
    bottom: 50px;
    right: 50px;
}


/*详情页css*/
.detail_header_title_div {
    /*border: 1px red solid;*/
    font-family: 'KaiTi,Times New Roman', Times, serif;
    user-select: none;
    background-image: url("../imgs/非遗详情顶部背景.png");
    line-height: 400px;
    /*border: 1px red solid;*/
    width: 100%;
    height: 300px;
    text-align: center;
    justify-content: center;
    background-size: 100% 100%;
}

.detail_x-container {
    background-color: #dcc8a3;
    /*border: 1px #2c25cb solid;*/
    /*background: url("../imgs/非遗详情中间背景.png") no-repeat;*/
    /*background-color: #dcc8a3;*/
    background-size: 100% 100%;
    width: 100%;
}

/*n内容*/
.detail_container {
    /*align-items: center;*/
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 50px;
    margin-left: 8%;
    margin-right: 8.3%;
    /*width: 80%;*/
    /*height: 20px;*/
    /*border: 1px darkred solid;*/
    background-color: #eae3d5;

}

.detail_title {
    display: flex;
    align-items: center;
    color: #3f3119;
    padding-bottom: 10px;
}
.detail_title>img{
    width: 30px;

}
.detail_text{
    line-height: 25px;
    padding-bottom: 20px;
    text-shadow: 0 0  1px saddlebrown;
    font-size: 1.1em;
    color: #3f3119;
}














