.my_content-div {
    /*border: 1px saddlebrown solid;*/
    user-select: none;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;

}

.my_content_back_image_div {
    display: inline-block;
    border: 1px saddlebrown solid;
    filter: drop-shadow(9px 9px 30px rgb(17, 17, 10));
    background: url("../imgs/zhizhang01.jpg");
    background-size: 100% 100%;
    width: 90%;
    height: 100%;
    min-width: 1300px;

}

.chuanshuo_big_div {
    margin-left: 3%;
    width: 94%;
    height: 88%;
    /*border: 1px #c30df5 solid;*/
    margin-top: 10px;
}

/*传说 标题与内容*/
.chaunshuo_text_div {

    width: 100%;
    height: 100%;
    /*padding-top: 20px;*/
}

/*传说标题*/
.chuanshuo_title_h1 {
    font-family: KaiTi, Times New Roman, serif;
    color: #f3dfcf;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 2.4em;
    text-shadow: 0px 0px 10px #422916;
}

/*故事内容*/
.text_content {
    border-top: 1px rgba(28, 15, 6, 0.51) solid;

    width: 100%;
    height: 85%;
}

/*第一行*/
.text_content_row {
    width: 100%;

    /*border: 1px salmon solid;*/
    display: flex;
}

.text_content_row div {
    display: flex;
    width: 50%;
}

.text_content_row div {
    padding: 20px;
    width: 50%;

    height: 100%;
}

.text_content_row div img {
    transition: all 0.2s;
    filter: drop-shadow(1px 1px 5px rgba(17, 17, 10, 0.82));
    width: 430px;
    /*height: 200px;*/
}
.text_content_row div h5{
    margin-left: 5px;
    font-size: 1.4em;
    color: rgba(52, 30, 6, 0.86);
}
.xuhao-fangda-sapn{
    font-family: KaiTi, Times New Roman, serif;
    font-size: 1.8em;
    color: #000000;
}

.hover_img:hover img{
    transform: scale(1.02,1.02);
    transition: all 0.2s;
}


                              /*上一个下一个*/
.next_control_div {
    /*border: #1b6d85 1px solid;*/
    margin-left: 5%;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.next_control_div div {
    font-weight: 700;
    color: #1c0f01;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.27);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: 9px;
    border: 1px rgba(139, 69, 19, 0.75) solid;
    background-color: rgba(216, 159, 60, 0.09);
}

.active {
    color: #e5c7a8 !important;
    background-color: rgba(139, 69, 19, 0.8) !important;
}