
.content {
	/* 弹性布局 让页面元素水平+垂直居中 */
	display: flex;
	justify-content: center;
	align-items: center;
	/* 让页面始终占浏览器总高 */
	height: 100vh;
	background-color: #000;
	/* 视距 让元素看起来更有3D效果 */
	perspective: 900px;
}
section {
	margin-top: 60px;
	/* 相对定位 */
	position: relative;
	width: 200px;
	height: 280px;
	/* 鼠标放到元素上变成小手 */
	cursor: pointer;
	/* 让子元素保留其3D位置 */
	transform-style: preserve-3d;
	/* 动画 名称 时长 linear 是匀速 播放 infinite 是无限次播放 */
	animation: rotate 30s linear infinite;
}
/* 
section:hover {
	<!--鼠标放到元素上停止动画 -->
	animation-play-state: paused;
} */


section div {
	/* 绝对定位 */
	user-select: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	/* 设置元素的倒影效果 below 是倒影效果在元素下方 5px 是元素和倒影的距离 后面的属性和背景渐变色是一个属性 设置了一个从下到上由背景透明色过渡到设置了不透明度的白色 */
	-webkit-box-reflect: below 3px -webkit-linear-gradient(transparent 10%, rgba(255, 255, 255, 0.3));
}
section img:hover{

	filter: drop-shadow( 0px 0px 5px rgba(18, 17, 17, 1));
}
/* section div:hover{
box-shadow: 0px -100px 20px 20px red;
} */
section div:nth-child(1) {

	transform: translateZ(300px);
	background: url("../imgs/人物背景.png");
	background-size: 100% 100%;
}
section div:nth-child(2) {
	transform: rotateY(60deg) translateZ(300px);
	background: url("../imgs/人物背景.png");
	background-size: 100% 100%;
}
section div:nth-child(3) {
	transform: rotateY(120deg) translateZ(300px) ;
	background: url("../imgs/人物背景.png");
	background-size: 100% 100%;
}
section div:nth-child(4) {
	transform: rotateY(180deg) translateZ(300px) ;
	background: url("../imgs/人物背景.png");
	background-size: 100% 100%;
}
section div:nth-child(5) {
	transform: rotateY(240deg) translateZ(300px) ;
	background: url("../imgs/人物背景.png");
	background-size: 100% 100%;
}
section div:nth-child(6) {
	transform: rotateY(300deg) translateZ(300px) ;
	background: url("../imgs/人物背景.png");
	background-size: 100% 100%;
}
.content_backgroud{
	position: absolute;
	width: 100%;
	height: 80%;
	background:url(../imgs/黑色背景.png) no-repeat;
	/* background-color: aquamarine; */
	z-index: -1;
	bottom: 0px;
}
.img1{
    margin-top: 35px;
	width: 39%;
	
}
.img1:hover{
	transition:all 0.2s;
    margin-top: 32px;
	width: 42%;
	
}
/* .img1:hover{
box-shadow: 0px 0px 20px 20px red;
	
} */
.img2{
	width: 52%;
	margin-top: 35px;
}

.img2:hover{
	transition:all 0.2s;
    margin-top: 32px;
	width: 55%;
	
}
.img3{
	width: 54%;
	margin-top: 35px;
}

.img3:hover{
	transition:all 0.2s;
    margin-top: 32px;
	width: 57%;
	
}
.img4{
	width: 50%;
	margin-top: 35px;
}

.img4:hover{
	transition:all 0.2s;
    margin-top: 32px;
	width: 53%;
	
}

.img5{
	width: 41%;
	margin-top: 35px;
}

.img5:hover{
	transition:all 0.2s;
    margin-top: 32px;
	width: 44%;
	
}

.img6{
	width: 33%;
	margin-top: 35px;
}

.img6:hover{
	transition:all 0.2s;
    margin-top: 32px;
	width: 36%;
	
}
section p{
	font-size: 20px;
	font-weight: 600px;
	font-family:'Times New Roman', Times, serif;
	display: block;
	position: absolute;
	margin-top: 50px;
	margin-left: 30px;
	writing-mode: vertical-lr;
}
.content {
    background: linear-gradient(rgba(45, 28, 16, 0.75), rgba(115, 97, 66, 0.19)), url('../../../公共库/全局imgs/清明上河图卷全局背景.jpg'), no-repeat;
	background-attachment: fixed;
	background-size: cover;

}
/* 先定义旋转动画 */
@keyframes rotate {
	0% {
		transform: rotateY(360deg);
	}
	100% {
		transform: rotateY(0);
	}
}


