*{
    padding: 0;
    margin: 0;
    scroll-behavior:smooth;

}
.content_role{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

}
.role{
    margin: 80px 0px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;

}
.role img{
    width: 20%;
    height: 400px;
    /* border: 1px solid black; */
    box-sizing: border-box;

}

.role:nth-child(odd) img{
    filter: drop-shadow(-20px 220px 10px rgba(21, 23, 23, 0.382));
}

.role:nth-child(even) img{
    filter: drop-shadow(20px 220px 10px rgba(21, 23, 23, 0.382));
}
.role div{
    font-family: "KaiTi";
    background: url(../imgs/文字版.png);
    opacity: 0.9;
    background-size: 100% 100%;
    width: 60%;
    height: 400px;

}

.role:nth-child(odd) div{
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.782) ;
}

.role:nth-child(even) div{
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.782) ;
}



.role div p{
    text-shadow: 0px 0px 1px black;
    font-size: 20px;
    font-weight: 400;
    padding: 5% 10%;
    text-indent: 2em;
}

.text_header{
    font-size: 30px;
}




