<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知识小测试</title>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/vue.js"></script>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>

    <link rel="stylesheet" type="text/css" href="css/ceshi.css"/>
    <link rel="stylesheet" type="text/css" href="../../公共库/全局css/nav_vice_public.css"/>
</head>
<body>


<a href="../../index.html" style="text-decoration: none;z-index: 100">
    <div class="btnback-public">
        <img src="../../公共库/全局imgs/btn_hover.png">
        返回
    </div>
    <!--    </div>-->
</a>


<div class="test_title_div">
    <div class="title_text">
        <h1>中医药文化知识小测试</h1>
        <h5>关于中医药文化知识你知道多少呢？快来测试测试吧。</h5>
    </div>
</div>

<!--测试div-->
<div class="test_container" id="danxuan_app">
    <!--单选题-->
    <div class="danxuanti_div">
        <h4>请认真回答下列问题哦。</h4>
        <!--题目循环-->

        <div class="danxuan_timu_div" v-for="(problem,index) in problems" :key="problem.id">
            <!--题目-->
            <div v-if="problem.type=='select'" class="alert alert-secondary problem_div" role="alert">
                <span style="color: black;font-weight: 700;">单选题</span> &nbsp{{index + 1}}.{{problem.wen}}
            </div>
            <div v-else class="alert alert-secondary problem_div" role="alert">
                <span style="color: black;font-weight: 700;">判断题</span> &nbsp{{index + 1}}.{{problem.wen}}
            </div>
            <!--选项-->
            <div v-if="!submit">
                <div v-if="problem.type=='select'" :class="options.checked ? 'bgc' : ''"
                     v-for="options in problem.option"
                     :key="options.id"
                     class="option_div"
                     @click="handleClick(options,problem.id,problem.type,problem.option)">
                    {{options.letter}}. {{options.name}}
                </div>
                <div v-else :class="options.checked ? 'bgc' : ''"

                     class="option_div"
                     @click="handleClick(options,problem.id,problem.type,problem.option)">
                    {{options.name}}
                </div>
            </div>
            <!--提交后显示-->
            <div v-else>
                <!--选择题-->
                <div v-if="problem.type=='select'">
                    <div v-for="(options,index) in problem.option">
                        <div v-if="options.id==showAnswer[problem.id]&&problem.answer==showAnswer[problem.id]"
                             class="right option_div">{{options.letter}}. {{options.name}}
                        </div>
                        <div v-else-if="options.id==showAnswer[problem.id]&&problem.answer!==showAnswer[problem.id]"
                             class="wrong option_div">{{options.letter}}. {{options.name}}
                        </div>
                        <div v-else class="option_div">{{options.letter}}. {{options.name}}</div>
                    </div>
                </div>
                <!--判断题-->
                <div v-else>
                    <div v-for="(options,index) in problem.option">
                        <div v-if="options.id==showAnswer[problem.id]&&problem.answer==showAnswer[problem.id]"
                             class="right option_div">{{options.name}}
                        </div>
                        <div v-else-if="options.id==showAnswer[problem.id]&&problem.answer!==showAnswer[problem.id]"
                             class="wrong option_div">{{options.name}}
                        </div>
                        <div v-else class="option_div">{{options.name}}</div>
                    </div>
                </div>

                <!--更改-->
                <div>
                    <div style="padding-top: 5px">
                        <span v-if="problem.answer==showAnswer[problem.id]" style="color: green">回答正确</span>
                        <span v-else style="color: red">回答错误</span>
                        <!--选择题-->
                        <div v-if="problem.type=='select'">
                            <!--没有作答-->
                            <span v-if="showAnswer[problem.id]==0">
                                 <span>你的答案：<span style="color: red">没有作答</span></span>
                                <span style="margin-left: 100px">正确答案：
                                    <span v-if="problem.answer==1">A</span>
                                    <span v-else-if="problem.answer==2">B</span>
                                    <span v-else-if="problem.answer==3">C</span>
                                    <span v-else-if="problem.answer==4">D</span>
                                </span>
                            </span>
                            <!--作答-->
                            <span v-else>
                                 <span>你的答案：
                                    <span v-if="showAnswer[problem.id]==1">A</span>
                                    <span v-else-if="showAnswer[problem.id]==2">B</span>
                                    <span v-else-if="showAnswer[problem.id]==3">C</span>
                                    <span v-else-if="showAnswer[problem.id]==4">D</span>
                                 </span>
                                <span style="padding-left: 50px">正确答案：
                                    <span v-if="problem.answer==1">A</span>
                                    <span v-else-if="problem.answer==2">B</span>
                                    <span v-else-if="problem.answer==3">C</span>
                                    <span v-else-if="problem.answer==4">D</span>

                                </span>
                            </span>
                        </div>
                        <!--判断题-->
                        <div v-else>
                            <!--没有作答-->
                            <span v-if="showAnswer[problem.id]==0">
                                 <span>你的答案：<span style="color: red">没有作答</span></span>
                                <span style="margin-left: 100px">正确答案：
                                    <span v-if="problem.answer==1">正确</span>
                                    <span v-else-if="problem.answer==2">错误</span>

                                </span>
                            </span>
                            <!--作答-->
                            <span v-else>
                                 <span>你的答案：
                                    <span v-if="showAnswer[problem.id]==1">正确</span>
                                    <span v-else-if="showAnswer[problem.id]==2">错误</span>
                                 </span>
                                <span style="padding-left: 50px">正确答案：
                                   <span v-if="problem.answer==1">正确</span>
                                    <span v-else-if="problem.answer==2">错误</span>
                                </span>
                            </span>

                        </div>
                        <!--解析-->
                        <div class="jiexidiv">
                            <span style="color: rgba(2,118,157,0.94);text-align: center;padding: 5px">答案解析：</span>
                            <span>{{problem.analysis}}</span>

                        </div>

                    </div>


                </div>


            </div>
        </div>


        <div style="width: 100%;height: 100px"></div>

    </div>


    <!--答题卡-->
    <div class="datika_div">
        题目
        <div class="answer_cards">

            <div v-for="(myAnswer,index) in myAnswer.slice(1,11)" class="item_card" :class="myAnswer!=0 ? 'selected_item_card' : ''">

                {{index+1}}
            </div>

            <div style="width: 100%;display: flex;padding-top: 30px">
                <div class="button_div">
                    <button type="button" class="btn btn-outline-primary stylebutton" @click="submitAnswer()">提交</button>
                </div>
                <div class="button_div" v-if="submit" style="margin-left: 50px">
                    <a href="ceshi.html">
                        <button type="button" class="btn btn-outline-primary stylebutton">重做</button>
                    </a>
                </div>

            </div>


        </div>


    </div>

</div>


<script>


    const dan_vm = new Vue({
        el: "#danxuan_app",
        data: {
            myAnswer: [0,0,0,0,0,0,0,0,0,0,0], //我的选择
            showAnswer: [],
            submit: false,  //提交情况
            /*题目*/
            problems: [
                {
                    id: 1,
                    type: 'select',
                    wen: '我国现存最早的本草专著是：',
                    option: [
                        {
                            id: 1,
                            name: "《开宝本草》",
                            checked: false,
                            letter: 'A'
                        },
                        {
                            id: 2,
                            name: "《嘉祐本草》",
                            checked: false,
                            letter: 'B'
                        },
                        {
                            id: 3,
                            name: "《新修本草》",
                            checked: false,
                            letter: 'C',
                        },
                        {
                            id: 4,
                            name: "《神农本草经》",
                            checked: false,
                            letter: 'D',
                        },

                    ],
                    answer: 4,
                    analysis: '我国现存最早的本草专著当推《神农本草经》，一般认为该书约成于西汉末年至东汉初年，是汉以前药学知识和经验的第一次大总结，故答案应选D。'
                },
                {

                    id: 2,
                    type: 'select',
                    wen: '我国最早的中药炮制专著是：',
                    option: [
                        {
                            id: 1,
                            name: "《雷公炮炙论》",
                            checked: false,
                            letter: 'A'
                        },
                        {
                            id: 2,
                            name: "《本草拾遗》",
                            checked: false,
                            letter: 'B'
                        },
                        {
                            id: 3,
                            name: "《炮炙大法》",
                            checked: false,
                            letter: 'C',
                        },
                        {
                            id: 4,
                            name: "《神农本草经》",
                            checked: false,
                            letter: 'D',
                        },

                    ],
                    answer: 1,
                    analysis: '南朝刘宋时代雷敩所著的《雷公炮炙论》是我国第一部炮制专著，该书系统地介绍了300种中药的炮制方法，其中有些方法仍沿用至今，为中药炮制的发展奠定了基础，故答案应选A。'
                },
                {
                    id: 3,
                    type: 'select',
                    wen: '首创按药物自然属性分类的本草著作是：',
                    option: [
                        {
                            id: 1,
                            name: "《本草拾遗》",
                            checked: false,
                            letter: 'A'
                        },
                        {
                            id: 2,
                            name: "《本草纲目》",
                            checked: false,
                            letter: 'B'
                        },
                        {
                            id: 3,
                            name: "《神农本草经》",
                            checked: false,
                            letter: 'C',
                        },
                        {
                            id: 4,
                            name: "《本草经集注》",
                            checked: false,
                            letter: 'D',
                        },
                    ],
                    answer: 4,
                    analysis: '《本草经集注》首创按药物自然属性分类的方法，《神农本草经》、《本草拾遗》都是按药物功效分类，《新修本草》、' +
                        '《本草纲目》虽然也是按药物自然属性分类，但不是首创，故答案应选D。'
                },
                {
                    id: 4,
                    type: 'select',
                    wen: '《难经》内容以讨论脉诊为主，据传它是由谁所作:',
                    option: [
                        {
                            id: 1,
                            name: "董奉",
                            checked: false,
                            letter: 'A'
                        },
                        {
                            id: 2,
                            name: "扁鹊",
                            checked: false,
                            letter: 'B'
                        },
                        {
                            id: 3,
                            name: "华佗",
                            checked: false,
                            letter: 'C',
                        },
                        {
                            id: 4,
                            name: "李时珍",
                            checked: false,
                            letter: 'D',
                        },
                    ],
                    answer: 2,
                    analysis: '《难经》是战国时期成书，原名《黄帝八十一难经》，古代中医学著作之一，传说为战国时期秦越人（扁鹊）所作，故答案应选B。'
                },
                {
                    id: 5,
                    type: 'select',
                    wen: '下列哪一本书，不是由华佗所著:',
                    option: [
                        {
                            id: 1,
                            name: "《枕中灸刺经》",
                            checked: false,
                            letter: 'A'
                        },
                        {
                            id: 2,
                            name: "《内事》",
                            checked: false,
                            letter: 'B'
                        },
                        {
                            id: 3,
                            name: "《本草纲目》",
                            checked: false,
                            letter: 'C',
                        },
                        {
                            id: 4,
                            name: "《观形察色并三部脉经》",
                            checked: false,
                            letter: 'D',
                        },
                    ],
                    answer: 3,
                    analysis: '《本草纲目》李时珍所著，他曾参考历代有关医药及其学术书籍八百余种，结合自身经验和调查研究，历时二十七年编成《本草纲目》一书，故答案应选C。'
                },
                {
                    id: 6,
                    type: 'select',
                    wen: '《诗经·召南·采蘩》中，“于以采蘩，于沼于沚。于以用之，公侯之事”中的”蘩“指的是什么:',
                    option: [
                        {
                            id: 1,
                            name: "泽泻",
                            checked: false,
                            letter: 'A'
                        },
                        {
                            id: 2,
                            name: "蒿",
                            checked: false,
                            letter: 'B'
                        },
                        {
                            id: 3,
                            name: "贝母",
                            checked: false,
                            letter: 'C',
                        },
                        {
                            id: 4,
                            name: "茅草",
                            checked: false,
                            letter: 'D',
                        },
                    ],
                    answer: 2,
                    analysis: '这是《诗经·召南·采蘩》的第一章， 描写为公候采摘蘩蒿的情景。古人将草之高者称为蒿，《诗经》中的蒿类植物有蘩、蒌、萧、艾、蓬、蓍、苹、蒿、芩、莪、蔚等，故答案应选B。'
                },
                {
                    id: 7,
                    type: 'select',
                    wen: '《黄帝内经》说："藏寒生满病，其治宜灸"，指的是我国哪一个中医非文化遗产:',
                    option: [
                        {
                            id: 1,
                            name: "针灸术",
                            checked: false,
                            letter: 'A'
                        },
                        {
                            id: 2,
                            name: "中药炮制技术",
                            checked: false,
                            letter: 'B'
                        },
                        {
                            id: 3,
                            name: "中药传统制剂方法",
                            checked: false,
                            letter: 'C',
                        },
                        {
                            id: 4,
                            name: "中医诊法",
                            checked: false,
                            letter: 'D',
                        },
                    ],
                    answer: 1,
                    analysis: '《黄帝内经》说："藏寒生满病，其治宜灸"，便是指灸术，其中详细描述了九针的形制，并大量记述了针灸的理论与技术。两千多年来针灸疗法一直在中国流行，并传播到了世界，故答案应选A。'
                },
                {
                    id: 8,
                    type: 'select',
                    wen: '中医诊法是中医学的重要组成部分，下列哪一项是中医诊法中利用视觉来了解病人的情况:',
                    option: [
                        {
                            id: 1,
                            name: "望",
                            checked: false,
                            letter: 'A'
                        },
                        {
                            id: 2,
                            name: "闻",
                            checked: false,
                            letter: 'B'
                        },
                        {
                            id: 3,
                            name: "问",
                            checked: false,
                            letter: 'C',
                        },
                        {
                            id: 4,
                            name: "切",
                            checked: false,
                            letter: 'D',
                        },
                    ],
                    answer: 1,
                    analysis: '中医诊法包括望诊、闻诊、问诊、切诊四种方法，称为"四诊法"，其中望诊是利用视觉对疾病做出判断，故答案应选A。'
                },
                {
                    id: 9,
                    type: 'judge',
                    wen: '华佗，后汉医学家，被人尊其为“众方之祖”。',
                    option: [
                        {
                            id: 1,
                            name: "正确",
                            checked: false,
                            letter: '1'
                        },
                        {
                            id: 2,
                            name: "错误",
                            checked: false,
                            letter: '0'
                        },

                    ],
                    answer: 1,
                    analysis: '张仲景与华佗都是后汉医学家,但其张仲景才有“众方之祖”之称，故错误。'
                },
                {
                    id: 10,
                    type: 'judge',
                    wen: '《针灸甲乙经》是我国现存最早的一部理论联系实际的针灸学专著。',
                    option: [
                        {
                            id: 1,
                            name: "正确",
                            checked: false,
                            letter: '1'
                        },
                        {
                            id: 2,
                            name: "错误",
                            checked: false,
                            letter: '0'
                        },

                    ],
                    answer: 2,
                    analysis: '《针灸甲乙经》，又称《黄帝甲乙经》，详述了各部穴位的适应证和禁忌、针刺深度与灸的壮数，是我国现存最早的一部理论联系实际的针灸学专著，故正确。'
                },


            ],
            judge: {}
        },
        methods: {
            /*选中改变样式*/
            handleClick(option, index, type, problem) {
                console.log(option)  //选择的选项
                console.log("第几题：" + index)  //第几题
                console.log(type)  //题目类型
                console.log("此题答案：" + option.answer)
                console.log(problem)
                if (type === 'select') {
                    for (let i = 0; i < 4; i++) {
                        if (option.id === problem[i].id) {
                            this.myAnswer[index] = option.id
                            problem[i].checked = true
                        } else {
                            problem[i].checked = false
                        }
                    }
                } else {
                    for (let i = 0; i < 2; i++) {
                        if (option.id === problem[i].id) {
                            this.myAnswer[index] = option.id
                            problem[i].checked = true
                        } else {
                            problem[i].checked = false
                        }
                    }
                }

                console.log("我的选择：" + this.myAnswer)
            },
            submitAnswer() {
                this.submit = true;
                this.showAnswer = this.myAnswer
                console.log("提交情况：" + this.submit)
            }


        }
    })


</script>


</body>
</html>